
/*
// 2019, Alex Momotyuk, Make Nashville Look Nice, NSS, Front-end capstone project
*/

.modal-photo-card {
    width: 1000px;    /* 50vw Occupy the 50% of the screen width */
    max-width: 1000px;
}

.modal-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*width: 100px;*/
}

.modal-photo-username {
    color: blue;
}

.modal-photo-date {
    color: black;
}

.modal-photo-status {
    color: red;
}

.modal-photo-comment {
    width: 90%;
}

.modal-xl {
    width: 100%;
}