/*
// 2019, Alex Momotyuk, Make Nashville Look Nice, NSS, Front-end capstone project
*/

.map-flex-container {
    display: flex;
    width: 100%;
    background-color: lightgray;
}

.map-flex-item {
    background-color: hotpink;
    width: 30%;
    margin: 1em;
    text-align: left;
}

main {
    /* flex: 3; */
    flex: 6;
    margin: 1em;
}

aside {
    flex: 1;
    margin: 1em;
    height: 1100px;
    overflow: scroll;
}

#map {
    height: 1100px;
    background:lightgrey;
  }

img.test-map {
/*    width: 1000px;*/
    height: 1100px;
}

img.test-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* height: 80px; */
}

span.generalCardPhotoUser {
    color: blue;
}

span.generalCardIssueStatus {
    color: red;
}

span.generalCardPhotoUser, .generalCardIssueDate, .generalCardIssueStatus{
    font-size: .7em;
}
